<!DOCTYPE html>
<html xmlns="htpp://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <h2>Elapsed Time=<%= elapsedTime%></h2>
        <h2>Loss Value=<%= lossValue%></h2>

        <h2><%= resultForData1%></h2>
        <h2><%= resultForData2%></h2>
        <h2><%= resultForData3%></h2>
    </body>
</html>